<div class="modal fade" id="addwork_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popupAddWorkTitle">작업 추가</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend required">
              <span class="input-group-text" id="basic-addon1"><span style="color: red;">*</span>작업명</span>
            </div>            
            <input type="text" class="form-control" placeholder="SavePDF" aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workname">
            
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">설 명</span>
            </div>
            <input type="text" class="form-control" placeholder="PDF로 변환하여 저장합니다" aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workdesc">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><span style="color: red;">*</span>작업경로</span>
            </div>
            <input type="text" class="form-control" placeholder="ubstorm.co.kr.savePDF" aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workpath">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">파라미터</span>
            </div>
            <input type="text" class="form-control" placeholder="{'KEY':'VALUE'}" aria-label="Username" aria-describedby="basic-addon1" readonly id="popup_addwork_workparam">
            <div class="input-group-append"><a href="#" role="button" class="btn btn-secondary popover-test" id="popup_addwork_workparam_btn" >추가</a></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="add_work_save_btn">저장</button>
        </div>
      </div>
    </div>


    <!-- Modal add work popup-->
    <!-- <div id="addworkparam_contents"></div> -->

  </div>