<div class="modal fade" id="addwork_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px;">
		<div class="modal-content">
			<div class="modal-header">
          		<h5 class="modal-title" id="popupAddWorkTitle">작업 추가</h5>
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            		<span aria-hidden="true">&times;</span>
          		</button>
        	</div>
        	
        	<div class="modal-body">

				<!-- 작업추가 - 작업명 -->
		        <div class="input-group mb-3">
		          <div class="input-group-prepend required">
		            <span class="input-group-text" id="basic-addon1"><span style="color: red;">*</span>작업명</span>
		          </div>            
		          <input type="text" class="form-control" placeholder="작업명을 입력하세요." aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workname">
		          
		          <div class="input-group-append">
		            <a href="#" role="button" class="btn btn-danger" id="popup_work_del_btn" >삭제</a>              
		          </div>   
		        </div>
		        
		        <!-- 작업추가 - 설명 -->
		        <div class="input-group mb-3">
		          <div class="input-group-prepend">
		            <span class="input-group-text" id="basic-addon1">설 명</span>
		          </div>
		          <input type="text" class="form-control" placeholder="작업 설명을 입력하세요." aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workdesc">
		        </div>
		
				<!-- 작업추가 - 작업구분 -->
		        <div class="input-group mb-3">
		          <div class="input-group-prepend">
		            <span class="input-group-text">작업구분</span>
		          </div>
		          <select id="select_work_type" class="custom-select">
		     	</select>
		        </div>
		
				<!-- 작업추가 - 작업경로 -->
		        <div class="input-group mb-3">
		          <div class="input-group-prepend">
		            <span class="input-group-text" id="basic-addon1"><span style="color: red;">*</span>작업경로</span>
		          </div>
		          <input type="text" class="form-control" placeholder="클래스 패키지 경로를 입력하세요 (EX:ubstorm.co.kr.MyJob)" aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_workpath">
		        </div>
		          
				<!-- 작업추가 - 인증사용 -->
				<div class="input-group mb-3" id="group_certify">
			        <div class="input-group-prepend">
			          <span class="input-group-text">인증사용<span style="font-size:11px; color: red; cursor: pointer;" title="Token인증시 Token 값을 입력하지 않으면, 시스템 기본 Token 값이 자동으로 적용됩니다">?</span></span>
			        </div>
			        <div class="input-group-text" style="min-width: 0px">
			 			<input type="checkbox" aria-label="Checkbox for following text input" id="addwork__use_check">
					</div>
			        <select id="select_certify" class="custom-select" disabled="disabled">
			 		</select>
				</div>
		      
				<!-- 작업추가 - 토큰 -->
		        <div class="input-group mb-3" id="group_token">
		          <div class="input-group-prepend">
		            <span class="input-group-text" id="basic-addon1"><span style="color: red;">*</span>Token</span>
		          </div>
		          <input type="text" class="form-control" placeholder="Token값을 입력하세요." aria-label="Username" aria-describedby="basic-addon1" id="popup_addwork_token" disabled="disabled">
		        </div>
		          
				<!-- 작업추가 - 파라미터 -->
		        <div class="input-group mb-3">
		          <div class="input-group-prepend">
		            <span class="input-group-text" id="basic-addon1">파라미터</span>
		          </div>
		          <input type="text" class="form-control" placeholder="추가 버튼을 이용하여 클래스에 전달할 파라미터 입력." aria-label="Username" aria-describedby="basic-addon1" readonly id="popup_addwork_workparam">
		          <div class="input-group-append">
		          	<a href="#" role="button" class="btn btn-secondary popover-test" id="popup_addwork_workparam_btn" >추가</a>
		          </div>
				</div>

			</div>
        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	          <button type="button" class="btn btn-primary" id="add_work_save_btn">저장</button>
	        </div>
      	</div>
	</div>
    <!-- Modal add work popup-->
    <!-- <div id="addworkparam_contents"></div> -->
</div>