
    <main class="modal-dialog modal-dialog-centered"  id="top" role="document">
      <div class="modal-content rounded-4 shadow">

        <div class="row mx-0 h-100">
          <div class="col-md-6 text-center bg-card" style="background-image:url(./assets/images/login_bg.png); background-size: cover;">
            <div class="z-index-1 h-100 position-relative p-4 pt-md-5 pb-md-7 light">
              <div class="position-relative">
                <p class="site-ttl text-white">MySuit Scheduler</p>
              </div>
              <div class="copyright mt-3 mb-4 mt-md-4 light">
                <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">© 2006 UBISTORM All Rights Reserved.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-center">
            <div class="p-4 p-md-5 flex-grow-1">
              <div class="row flex-between-center">
                <div class="col-auto">
                  <h3>Login</h3>
                </div>
              </div>
              <form>
                <div class="mb-3">
                  <label for="floatingInput">ID</label>
                  <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="ID">
                </div>
                <div class="mb-3">
                  <label for="floatingPassword">Password</label>
                  <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit" id="BTN">Log in</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </main>