<div class="modal fade bd-example-modal-lg" id="search_work_list_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 950px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">작업목록 조회</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">

            <div class="input-group mb-3">
				<div class="input-group-prepend">
				  <span class="input-group-text">작업명</span>
				</div>
                <input type="text" aria-label="Last name" class="form-control" placeholder="" id="search_work_list_type_input">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="search_work_list_btn">검색</button>
                </div>
            </div>

            
            <div id="search_work_list_table" class="display" style="width:100%"></div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="search_work_list_close_btn">닫기</button>
        </div>
      </div>
    </div>
  </div>